@tailwind base;
@tailwind components;
@tailwind utilities;

.scrolling-container {
    display: flex;
    overflow: hidden;
    height: 16.7vh;
    align-items: center;
    border-top: 5px solid black;
    white-space: nowrap;
    position: relative;
}
.bggreen{
    background-color: green;
}
.bgred{
    background-color: red;
}

.invisible{
    visibility: collapse;
}
.shown{
    visibility: visible;
}
.scrolling-text {
    display: inline-block;
    animation: scroll 10s linear infinite; /* Increase animation duration for smoothness */
    font-size: 30vh;
    font-family: 'Hubot Sans', 'Courier New', Courier, monospace;
    font-weight: 700;
    color: white;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
    white-space: nowrap;
    line-height: 1; /* Ensure no extra space around the text */
    /* Tailwind classes for utility */

}
.shadowbox{
    box-shadow: 5px 5px black;
}
.shadowbox:hover{
    box-shadow: 15px 15px black;
    transform: scale(1.07);
}
input:focus {
    outline: none;
}
.buttonGradiant {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}
.gradiantBg {
        /* background: linear-gradient(229deg, #11ebb3, #2b1850,black); */
        background-image: url(https://cdn.pixabay.com/animation/2023/07/15/12/16/12-16-35-40_512.gif);
        /* background-size: 400% 400%; */
    
        /* -webkit-animation: GradiantScroll 20s ease infinite;
        -moz-animation: GradiantScroll 20s ease infinite;
        animation: GradiantScroll 20s ease infinite; */
    }
.homeBg{
    background: linear-gradient(237deg, #0ad29d, #7b32db,rgb(214, 68, 87));
    background-size: 400% 400%;

    -webkit-animation: scroll-gradient 30s ease infinite;
    -moz-animation: scroll-gradient 30s ease infinite;
    animation: scroll-gradient 30s ease infinite;
}
.el{
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  repeating-linear-gradient(45deg, rgba(59,130,240,1) 25%, transparent 25%, transparent 75%, rgba(59,130,240,1) 75%, rgba(59,130,240,1)), repeating-linear-gradient(45deg, rgba(59,130,240,1) 25%, #e5e5f7 25%, #e5e5f7 75%, rgba(59,130,240,1) 75%, rgba(59,130,240,1));
    background-position: 0 0, 21px 21px;
    background-size: 42px 42px;
}
.elSend{
    background: 
      linear-gradient(135deg,#0000 20.5%,#ffffff 0 29.5%,#0000 0) 0 9.5px,
      linear-gradient( 45deg,#0000 8%,#ffffff 0 17%, #0000 0 58%) 19px 0,
      linear-gradient(135deg,#0000 8%,#ffffff 0 17%, #0000 0 58%,#ffffff 0 67%,#0000 0),        
      linear-gradient( 45deg,#0000 8%,#ffffff 0 17%, #0000 0 58%,#ffffff 0 67%,#0000 0 83%,#ffffff 0 92%,#0000 0),
      #3b82f0;
    background-size: 38px 38px;


}
/* Keyframes for a seamless scrolling effect */
/* Parent container */
.scrolling-gradient-border {
    border: 1px solid rgb(209 213 219);
    box-shadow: 0px 0px;
}
.border-left{
    border-left: 1px solid rgb(209 213 219);
}
.strong-shadow{
    box-shadow: 0 0 20px 2px;
}
.scrolling-gradient-border:hover{
    border-image: linear-gradient(90deg, #ff0000, #00ff00, #0000ff, #ff0000) 1;
    animation: scroll-gradient 4s linear infinite;
    border-radius: 10px;
}
.ql-container {
    height: 100%; /* Matches parent height */
    display: flex; /* Ensures proper layout */
    flex-direction: column; /* Avoids overlapping */
  }
  
.ql-editor {
    flex: 1; /* Ensures content doesn't clip */
    overflow-y: auto; /* Handles scrolling if content overflows */
}
  
  
  /* Gradient scrolling animation */
@keyframes scroll-gradient {
    0% {
        border-image-source: linear-gradient(90deg, #ff0000, #00ff00, #0000ff, #ff0000);
    }
    100% {
        border-image-source: linear-gradient(450deg, #ff0000, #00ff00, #0000ff, #ff0000);
    }
}
  
@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@-webkit-keyframes scroll-gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes scroll-gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes scroll-gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes scroll-background {
    33%{
        background-color: #e5e5f7;
        opacity: 1;
        background-image:  linear-gradient(135deg, rgba(59,133,246,1) 25%, transparent 25%), linear-gradient(225deg, rgba(59,133,246,1) 25%, transparent 25%), linear-gradient(45deg, rgba(59,133,246,1) 25%, transparent 25%), linear-gradient(315deg, rgba(59,133,246,1) 25%, #e5e5f7 25%);
        background-position:  28px 0, 28px 0, 0 0, 0 0;
        background-size: 28px 28px;
        background-repeat: repeat;
    }
    66%{
        background-color: #e5e5f7;
        opacity: 1;
        background-image:  linear-gradient(30deg, rgba(59,133,246,1) 12%, transparent 12.5%, transparent 87%, rgba(59,133,246,1) 87.5%, rgba(59,133,246,1)), linear-gradient(150deg, rgba(59,133,246,1) 12%, transparent 12.5%, transparent 87%, rgba(59,133,246,1) 87.5%, rgba(59,133,246,1)), linear-gradient(30deg, rgba(59,133,246,1) 12%, transparent 12.5%, transparent 87%, rgba(59,133,246,1) 87.5%, rgba(59,133,246,1)), linear-gradient(150deg, rgba(59,133,246,1) 12%, transparent 12.5%, transparent 87%, rgba(59,133,246,1) 87.5%, rgba(59,133,246,1)), linear-gradient(60deg, rgba(59,133,246,1)77 25%, transparent 25.5%, transparent 75%, rgba(59,133,246,1)77 75%, rgba(59,133,246,1)77), linear-gradient(60deg, rgba(59,133,246,1)77 25%, transparent 25.5%, transparent 75%, rgba(59,133,246,1)77 75%, rgba(59,133,246,1)77);
        background-size: 56px 98px;
        background-position: 0 0, 0 0, 28px 49px, 28px 49px, 0 0, 28px 49px;
    }
    /* 100%{
        background-color: #e5e5f7;
        opacity: 1;
        background: linear-gradient(135deg, rgba(59,133,246,1)55 25%, transparent 25%) -28px 0/ 56px 56px, linear-gradient(225deg, rgba(59,133,246,1) 25%, transparent 25%) -28px 0/ 56px 56px, linear-gradient(315deg, rgba(59,133,246,1)55 25%, transparent 25%) 0px 0/ 56px 56px, linear-gradient(45deg, rgba(59,133,246,1) 25%, #e5e5f7 25%) 0px 0/ 56px 56px;
    }        */ 
}